
<div class="container">
    <h4>
        {{welcomeMsg}}
    </h4>
    <button type="button" ng-click="login()" ng-hide="isLoggedIn" class="btn btn-default navbar-btn badarHeader11">
        Sign up with Facebook
    </button>
    <h1 class="mainHeading">Welcome to PanaCloud Guru</h1>
</div>
<div id="fb-root">
</div>
<div class="col-md-offset-3 col-xs-offset-2">
    <!--One-->
    <div class="col-md-3 col-xs-3 marginRight10 marginTop70">
        <div>
            <img src="img/authorIcon.png" height="100" width="100" alt="Top Author's">
            <div class="caption">
                <h4>Top Author's</h4>
            </div>
        </div>
    </div>
    <!--Two-->
    <div class="col-md-3 col-xs-3 marginRight10 marginTop70">
        <div>
            <img src="img/groupIcon.png" height="100" width="100" alt="Top Group's">
            <div class="caption">
                <h4>Top Group's</h4>
            </div>
        </div>
    </div>
    <!--Three-->
    <div class="col-md-3 col-xs-3 marginRight10 marginTop70">
        <div>
            <img src="img/examIcon.png" height="100" width="100" alt="Top Exam">
            <div class="caption">
                <h4>Top Exam's</h4>
            </div>
        </div>
    </div>

</div>